<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width"
    >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    
    <title>Demo</title>
</head>

<body>
    <div
        ng-app="myApp"
        ng-controller="myController as myCtrl"
    >
        <table class="table table-striped">
                <!-- ng-controller="changeCtrl" -->
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" id="myCheck" ng-model="data.Selected">Id</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Subject</th>
                    <th scope="col">SendDate</th>
                    <th>練習金額</th>
                </tr>
            </thead>
            <!-- {{myCtrl}} -->
            
            <tbody  ng-repeat="data in myCtrl.data">
                <tr>
                    <td><input type="checkbox" id="myChecktest" ng-model="data.Selected" ng-change="myCtrl.change()">{{data.Id}}.Selected:{{data.Selected}}</td>
                    <td>{{data.Sender}}</td>
                    <td><span directive-tooltip settext="{{data.Subject}}" demo="123">{{data.Subject}}</span></td>                
                    <td>{{ data.SendDate | date }}</td>
                    <td>{{88 | currency : '$'}}</td>
                </tr>
            </tbody>
        </table>
        <script src="../myApp.js"></script>
        <script src="../Script/ctrls/myCtrl.js"></script>
        <!-- <script src="../Script/ctrls/changeCtrl.js"></script> -->
        <script src="../Script/service/myService.js"></script>
        <script src="../Script/filter/date.js"></script>
        <script src="../Script/directive/directiveTooltip.js"></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="../prj.js"></script>
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>  

        </table>
    </div>
</body>

</html>