<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width"
    >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <!-- <link rel="stylesheet" href="../Content/Views/index.css"> -->
    <title>Demo</title>
</head>

<body>
    <div
        ng-app="myApp"
        ng-controller="myController as myCtrl"
    >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Subject</th>
                    <th scope="col">SendDate</th>
                    <th>練習金額</th>
                </tr>
            </thead>
            <!-- {{myCtrl}} -->
            
            <tbody ng-repeat="data in myCtrl.data">
                <tr>
                    <td>{{data.Id}}</td>
                    <td>{{data.Sender}}</td>
                    <td><span directive-tooltip settext="{{data.Subject}}" demo="123">{{data.Subject}}</span></td>                
                    <td>{{ data.SendDate | date}}</td>
                    <td>88</td>
                </tr>
            </tbody>
        </table>
        <script src="../myApp.js"></script>
        <script src="../Script/ctrls/myCtrl.js"></script>
        <script src="../Script/service/myService.js"></script>
        <script src="../Script/filter/date.js"></script>
        <script src="../Script/directive/directiveTooltip.js"></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="../prj.js"></script>
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </table>
    </div>
</body>

</html>